-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "vacantes" (
    "id" SERIAL NOT NULL,
    "mep_id" TEXT NOT NULL,
    "vacante" TEXT NOT NULL,
    "regional" TEXT NOT NULL,
    "clase_puesto" TEXT NOT NULL,
    "especialidad" TEXT NOT NULL,
    "institucion" TEXT NOT NULL,
    "lecciones" SMALLINT NOT NULL,
    "rige" DATE NOT NULL,
    "vence" DATE,
    "bitacora_creacion" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "vacantes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "log_notificaciones" (
    "id" SERIAL NOT NULL,
    "mep_id" TEXT NOT NULL,
    "template" TEXT NOT NULL,
    "fecha_notificacion" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "log_notificaciones_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "log_sistema" (
    "id" SERIAL NOT NULL,
    "level" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "details" TEXT,
    "timestamp" TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "log_sistema_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "vacantes_mep_id_key" ON "vacantes"("mep_id");

-- CreateIndex
CREATE UNIQUE INDEX "log_notificaciones_mep_id_template_key" ON "log_notificaciones"("mep_id", "template");

-- AddForeignKey
ALTER TABLE "log_notificaciones" ADD CONSTRAINT "log_notificaciones_mep_id_fkey" FOREIGN KEY ("mep_id") REFERENCES "vacantes"("mep_id") ON DELETE CASCADE ON UPDATE CASCADE;

