# Environment Mode
# Options: prod | dev
MODE_ENV=dev
# ==============================
# Email (Gmail OAuth2)
MAIL_USERNAME=your_email@gmail.com
OAUTH_CLIENTID=your_google_oauth_client_id
OAUTH_CLIENT_SECRET=your_google_oauth_client_secret
OAUTH_REFRESH_TOKEN=your_google_oauth_refresh_token
REDIRECT_URL=https://developers.google.com/oauthplayground
# ==============================
# Supabase Database
DB_PASSWORD_ESCAPED=your_supabase_database_escaped_password
DB_PROJECT_ID=your_supabase_project_id
DB_PORT_POOLING=6543
DB_PORT_DIRECT=5432

# ==============================
# Optional: Full connection strings

# Connect to Supabase via connection pooling
# DATABASE_URL=postgresql://postgres.<project_id>:<password>@aws-1-us-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true

# Direct connection to the database. Used for migrations
# DIRECT_URL=postgresql://postgres.<project_id>:<password>@aws-1-us-east-1.pooler.supabase.com:5432/postgres